<div>
  <md-toolbar color="primary">
  <img src="./assets/img/8451-logo.png" />
  <a href="/#/about"><h4> Source Files API</h4></a>
    <span class="spacer"></span>
    <button md-button
          *ngIf="authService.isLoggedIn"
          (click)="redirectToRegister()">
          <md-icon>account_circle</md-icon>{{authService.username}}
    </button>
    <button md-button
          *ngIf="!authService.isLoggedIn"
          (click)="authService.login()">
          <md-icon>lock</md-icon>LOGIN
    </button>
    <button md-button
          *ngIf="authService.isLoggedIn"
          (click)="authService.logOut()">
          <md-icon>lock_open</md-icon>LOGOUT
    </button>
  </md-toolbar>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
