<h1>Profile</h1>
<p>
  The 84.51° Source Files API can be found at <a href="http://www.8451hack.com/api">http://www.8451hack.com/api</a>. The API is self documenting and the structure of the data
  can be found by navigating to <a href="http://www.8451hack.com/api/profile">http://www.8451hack.com/api/profile</a>
</p>
<div class="flex-item" fxFlex="5%" fxFlex.xs="10%">
    <button md-button md-fab class="button-add-key"
     md-tooltip="Add New Application Key" (click)="addAPIKey()" [disabled]="!addAnotherAPIKey">
     <md-icon>add</md-icon></button>
</div>
<div class="api-key-container">
  <md-list>
    <h2>Applications</h2>

    <md-list-item *ngFor="let key of apiKeys">
      <md-icon md-list-avatar>vpn_key</md-icon>
      <h3 md-line>Application: {{key.application}}</h3>
      <p md-line>Key: {{key.key}}
      <button md-button class="button-delete-key" (click)="deleteAPIKey(key)"><md-icon class="red">delete</md-icon>DELETE</button></p>
    </md-list-item>
  </md-list>
</div>
<div>
  <div class="account-delete-heading">
    <h2>Delete account</h2>
  </div>
  <p>Once you delete your account, there is no going back.  We will delete all of your api keys generated and remove your account from our systems.
    After this, you will no longer be allowed to access our api's until you accept
    our <a href="/#/terms" target="_blank">Terms and Conditions</a> and register again.
  </p>
  <button md-raised-button class="button-account-delete" (click)="deleteAccount()"><md-icon>delete_forever</md-icon>Delete your account</button>
</div>
