<div layout="row" layout-padding layout-margin layout-fill style="min-height: 224px;">
  <div class="flex-item" fxFlex="5%" fxFlex.xs="10%">  </div>
    <div flex>
      <md-card>
        <div layout="row" >
          <div flex>
              <button md-button md-tooltip="Add New API Key" (click)="addAPIKey()" [disabled]="!addAnotherAPIKey">
                <md-icon class="green">add</md-icon>ADD API KEY
              </button>
          </div>
          <div flex>
            <h3>API Data Keys for {{githubUserId}}</h3>
          </div>
        </div>
        <div>
        </div>
        <table *ngFor="let apiKey of apiKeys" >
          <tr>
            <td width="80%">
              {{ apiKey.name }}
            </td>
            <td width="20%">
              <button md-button md-tooltip="Delete this API Key" (click)="deleteAPIKey(apiKey)" >
                    <md-icon class="red">delete</md-icon>DELETE
              </button>
            </td>
          </tr>
        </table>
      </md-card>
      <p>
      </p>
      <md-card>
        <div class="md-headline">
          DELETE MY ACCOUNT
          <button md-fab md-primary md-tooltip="Delete my account forever.  Cannot undo." (click)="deleteAccount()">
                <md-icon>delete_forever</md-icon>
          </button>
        </div>

      </md-card>
    </div>
</div>
