.material-icons.red { color: red; }
.material-icons.green { color: green; }

.account-delete-heading h2{
  color: red;
}

.button-add-key {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.button-delete-key {
  float: right;
  display: inline-block;
}

.api-card md-card {
  margin: 20px;
}

.api-key-container {
  position: relative;
  display: block;
}
